html{
    background-color: gray;
   }
   ul{
     list-style-type: none;
     overflow: hidden;
     background-color: #333333;
     margin-left: -10px;
     margin-right: -10px;
     margin-bottom: -45px;
     margin-top: -10px;
     position: fixed;
     top: 0px;
   }
   li{
    float: right;	 
   }
   li a { 
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font-size: 20px;
   }
   li a:hover {
     text-align: center;
     background-color: green;
     font-size: 20spx;
   }
   h1{
    color: white;
  margin: auto;
  padding-left: 40px;
  padding-right: 50px;
  margin: 5px ;
 }
 .matn{
  margin-top: 300px;
  text-align: center;
 }
 .f{
  border: 2px solid;
  text-align: center;
  width: 240px;
  height: 380px;
  margin: 10px;
 }
 img{
  width: 2  00px;
  height: 220px;
 }
 fieldset{
  margin-top: 60px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
 }
 ul li ul li{
  
    padding: 0px 15px 0px 15px;
   
    margin-left: 2px;
    margin-right: 2px;
   
    float: none;
  }
  ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(63, 56, 56);
    padding-right: px;
  
  }
  
  li:hover {
   
    border-radius: 4px;
    color: orange;
  
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
li>ul {
    display: none;
}
  
  li:hover ul {
    display: inline-block;
    position: absolute; 
    background-color: rgb(63, 56, 56);   
  }
  
  li:hover ul li a:link {
    display: block;
    text-align: center;
    font-size: 20px;
    padding: auto;
 }
  ul li ul{
   
    margin: 0px 0px 0px -53px;   
  } 
  .Cod{
    margin-left: 100px;
  }
  .grid-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 15px;
  }
  .grid-container img {
    padding-top: 15px;
    height: 200px;
  }
  .grid-container button:hover {
    background-color: rgb(3, 1, 1);
    color: aliceblue;
  }
  
  body {
    margin: auto;
  }
  
  nav {
    display: block;
    position: absolute;
    top: 0;
    background-color: #585353;
  }
  li:hover ul li{
    color: blue;
  }
  a:hover{
    border-radius: 4px;
    color: orange;
    font-size: 16px;
  }
  legend{
    text-align: center;
  }
  .c{
    width: 100%;
  }